**/.DS_Store

.config/gcloud

**/.zsh_history
**/.zsh_sessions
**/.zcompdump
**/.zcompdump.*

.config/k9s/config.yml

.config/configstore
.config/.wrangler
.config/1Password
.config/op

.config/wireshark/

.config/karabiner/automatic_backups/

.config/tracy/

# Symlinked from .zsh/.zprezto/uncoms
.zsh/.zshrc
.zsh/.zshenv
.zsh/.zprofile
.zsh/.zlogin
.zsh/.zlogout
.zsh/.zpreztorc
